Playbooks/playbook-Koi_Unified_-_Execute_Endpoint_Script.yml
id: Koi Unified - Execute Endpoint Script
version: -1
fromversion: 6.10.0
name: Koi Unified - Execute Endpoint Script
description: |-
  Executes a script from the Action Center script library on targeted endpoints.
  Resolves the script UUID from its name (unless a UUID is supplied), targets
  connected, unisolated endpoints filtered by OS / endpoint groups / hostnames,
  and returns a structured ScriptResult (ok / reason / action_id).
  Unified from the NE, Cortex per-OS, and MMAA runner playbooks.
starttaskid: "0"
tasks:
  "0":
    id: "0"
    taskid: c0ffee03-0000-4000-8000-000000000000
    type: start
    task:
      id: c0ffee03-0000-4000-8000-000000000000
      version: -1
      name: ""
      iscommand: false
      brand: ""
      type: start
    nexttasks:
      '#none#':
      - "18"
    separatecontext: false
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 450,
          "y": 50
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "18":
    id: "18"
    taskid: c0ffee03-0000-4000-8000-000000000018
    type: regular
    task:
      id: c0ffee03-0000-4000-8000-000000000018
      version: -1
      name: Reset iteration context
      description: Clears leftover context from the previous loop iteration (loop iterations share the sub-playbook context).
      iscommand: false
      brand: ""
      script: DeleteContext
      type: regular
    scriptarguments:
      all:
        simple: "yes"
      subplaybook:
        simple: auto
    nexttasks:
      '#none#':
      - "1"
    separatecontext: false
    continueonerror: true
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 450,
          "y": 120
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "1":
    id: "1"
    taskid: c0ffee03-0000-4000-8000-000000000001
    type: condition
    task:
      id: c0ffee03-0000-4000-8000-000000000001
      version: -1
      name: Script UUID provided?
      description: Skip library lookup when the caller already supplied a script UUID.
      iscommand: false
      brand: ""
      type: condition
    conditions:
    - label: "yes"
      condition:
      - - left:
            iscontext: true
            value:
              simple: inputs.script_uuid
          operator: isNotEmpty
          right:
            value: {}
    nexttasks:
      '#default#':
      - "3"
      "yes":
      - "2"
    separatecontext: false
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 450,
          "y": 200
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "2":
    id: "2"
    taskid: c0ffee03-0000-4000-8000-000000000002
    type: regular
    task:
      id: c0ffee03-0000-4000-8000-000000000002
      version: -1
      name: Use provided script UUID
      description: Set a value in context under the key you entered.
      iscommand: false
      brand: ""
      script: SetAndHandleEmpty
      type: regular
    scriptarguments:
      key:
        simple: koi_script_uid
      value:
        complex:
          root: inputs.script_uuid
      append:
        simple: "false"
    nexttasks:
      '#none#':
      - "6"
    separatecontext: false
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 220,
          "y": 380
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "3":
    id: "3"
    taskid: c0ffee03-0000-4000-8000-000000000003
    type: regular
    task:
      id: c0ffee03-0000-4000-8000-000000000003
      version: -1
      name: Get list of scripts
      description: Gets a list of scripts available in the scripts library.
      iscommand: true
      brand: ""
      script: '|||core-get-scripts'
      type: regular
    scriptarguments:
      script_name:
        simple: ${inputs.script_name}
    nexttasks:
      '#error#':
      - "12"
      '#none#':
      - "4"
    separatecontext: false
    continueonerror: true
    continueonerrortype: errorPath
    view: |-
      {
        "position": {
          "x": 680,
          "y": 380
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "4":
    id: "4"
    taskid: c0ffee03-0000-4000-8000-000000000004
    type: regular
    task:
      id: c0ffee03-0000-4000-8000-000000000004
      version: -1
      name: Find script UUID by name
      description: Resolve the script name to its UUID from the script library results.
      iscommand: false
      brand: ""
      script: SetAndHandleEmpty
      type: regular
    scriptarguments:
      key:
        simple: koi_script_uid
      value:
        complex:
          root: Core.Scripts
          accessor: script_uid
      append:
        simple: "false"
    nexttasks:
      '#none#':
      - "5"
    separatecontext: false
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 680,
          "y": 560
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "5":
    id: "5"
    taskid: c0ffee03-0000-4000-8000-000000000005
    type: condition
    task:
      id: c0ffee03-0000-4000-8000-000000000005
      version: -1
      name: How many scripts matched?
      description: Fail clearly when the script name resolves to zero or multiple UUIDs.
      iscommand: false
      brand: ""
      type: condition
    conditions:
    - label: none
      condition:
      - - left:
            iscontext: true
            value:
              simple: koi_script_uid
          operator: isEmpty
          right:
            value: {}
    - label: multiple
      condition:
      - - left:
            iscontext: true
            value:
              complex:
                root: koi_script_uid
                transformers:
                - operator: count
          operator: greaterThan
          right:
            value:
              simple: "1"
    nexttasks:
      '#default#':
      - "6"
      none:
      - "13"
      multiple:
      - "14"
    separatecontext: false
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 680,
          "y": 740
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "6":
    id: "6"
    taskid: c0ffee03-0000-4000-8000-000000000006
    type: regular
    task:
      id: c0ffee03-0000-4000-8000-000000000006
      version: -1
      name: Get target endpoints
      description: Gets a list of endpoints, according to the passed filters.
      iscommand: true
      brand: ""
      script: '|||core-get-endpoints'
      type: regular
    scriptarguments:
      platform:
        complex:
          root: inputs.endpoint_os
          transformers:
          - operator: toLowerCase
      group_name:
        complex:
          root: inputs.endpoint_groups
      hostname:
        complex:
          root: inputs.endpoint_hostnames
      status:
        simple: connected
      isolate:
        simple: unisolated
    nexttasks:
      '#error#':
      - "15"
      '#none#':
      - "7"
    separatecontext: false
    continueonerror: true
    continueonerrortype: errorPath
    view: |-
      {
        "position": {
          "x": 450,
          "y": 920
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "7":
    id: "7"
    taskid: c0ffee03-0000-4000-8000-000000000007
    type: condition
    task:
      id: c0ffee03-0000-4000-8000-000000000007
      version: -1
      name: Connected endpoints found?
      description: Only connected (online) endpoints are eligible for script execution.
      iscommand: false
      brand: ""
      type: condition
    conditions:
    - label: "yes"
      condition:
      - - left:
            iscontext: true
            value:
              complex:
                root: Core.Endpoint
                filters:
                - - left:
                      iscontext: true
                      value:
                        simple: Core.Endpoint.endpoint_status
                    operator: isEqualString
                    right:
                      value:
                        simple: CONNECTED
                accessor: endpoint_id
          operator: isNotEmpty
          right:
            value: {}
    nexttasks:
      '#default#':
      - "16"
      "yes":
      - "8"
    separatecontext: false
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 450,
          "y": 1100
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "8":
    id: "8"
    taskid: c0ffee03-0000-4000-8000-000000000008
    type: regular
    task:
      id: c0ffee03-0000-4000-8000-000000000008
      version: -1
      name: Run script on endpoints
      description: Initiates a new endpoint script execution and polls for its completion.
      iscommand: true
      brand: ""
      script: '|||core-script-run'
      type: regular
    scriptarguments:
      endpoint_ids:
        complex:
          root: Core.Endpoint
          filters:
          - - left:
                iscontext: true
                value:
                  simple: Core.Endpoint.endpoint_status
              operator: isEqualString
              right:
                value:
                  simple: CONNECTED
          accessor: endpoint_id
          transformers:
          - operator: uniq
          - operator: join
            args:
              separator:
                value:
                  simple: ','
      script_uid:
        complex:
          root: koi_script_uid
      polling_interval_in_seconds:
        complex:
          root: inputs.polling_interval_in_seconds
          transformers:
          - operator: SetIfEmpty
            args:
              applyIfEmpty: {}
              defaultValue:
                value:
                  simple: "60"
      timeout:
        complex:
          root: inputs.timeout_in_seconds
          transformers:
          - operator: SetIfEmpty
            args:
              applyIfEmpty: {}
              defaultValue:
                value:
                  simple: "1800"
    nexttasks:
      '#error#':
      - "9"
      '#none#':
      - "10"
    separatecontext: false
    continueonerror: true
    continueonerrortype: errorPath
    view: |-
      {
        "position": {
          "x": 450,
          "y": 1280
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "9":
    id: "9"
    taskid: c0ffee03-0000-4000-8000-000000000009
    type: regular
    task:
      id: c0ffee03-0000-4000-8000-000000000009
      version: -1
      name: Get script execution errors
      description: Get the error(s) associated with the failed script execution task.
      iscommand: false
      brand: ""
      script: GetErrorsFromEntry
      type: regular
    scriptarguments:
      entry_id:
        complex:
          root: lastCompletedTaskEntries
    nexttasks:
      '#none#':
      - "17"
    separatecontext: false
    continueonerror: true
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 680,
          "y": 1460
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "10":
    id: "10"
    taskid: c0ffee03-0000-4000-8000-00000000000a
    type: regular
    task:
      id: c0ffee03-0000-4000-8000-00000000000a
      version: -1
      name: Set ScriptResult - Success
      description: Set a value in context under the key you entered.
      iscommand: false
      brand: ""
      script: SetAndHandleEmpty
      type: regular
    scriptarguments:
      key:
        simple: ScriptResult
      value:
        complex:
          root: .
          transformers:
          - operator: FormatTemplate
            args:
              ctx_data: {}
              ctx_inc: {}
              ctx_inputs: {}
              keep_symbol_to_null: {}
              template:
                value:
                  simple: |-
                    {
                      "ok": true,
                      "reason": ""
                    }
              template_type:
                value:
                  simple: json
              variable_markers: {}
      append:
        simple: "false"
    nexttasks:
      '#none#':
      - "19"
    separatecontext: false
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 450,
          "y": 1640
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "19":
    id: "19"
    taskid: c0ffee03-0000-4000-8000-000000000019
    type: regular
    task:
      id: c0ffee03-0000-4000-8000-000000000019
      version: -1
      name: Record action ID
      description: Stores the Action Center action ID of the successful script run.
      iscommand: false
      brand: ""
      script: SetAndHandleEmpty
      type: regular
    scriptarguments:
      key:
        simple: ScriptResult.action_id
      value:
        simple: ${Core.ScriptRun.action_id}
      append:
        simple: "false"
    nexttasks:
      '#none#':
      - "11"
    separatecontext: false
    continueonerror: true
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 450,
          "y": 1730
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "11":
    id: "11"
    taskid: c0ffee03-0000-4000-8000-00000000000b
    type: title
    task:
      id: c0ffee03-0000-4000-8000-00000000000b
      version: -1
      name: Done
      iscommand: false
      brand: ""
      type: title
    separatecontext: false
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 450,
          "y": 1820
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "12":
    id: "12"
    taskid: c0ffee03-0000-4000-8000-00000000000c
    type: regular
    task:
      id: c0ffee03-0000-4000-8000-00000000000c
      version: -1
      name: Set ScriptResult - Library query failed
      description: Set a value in context under the key you entered.
      iscommand: false
      brand: ""
      script: SetAndHandleEmpty
      type: regular
    scriptarguments:
      key:
        simple: ScriptResult
      value:
        complex:
          root: .
          transformers:
          - operator: FormatTemplate
            args:
              ctx_data: {}
              ctx_inc: {}
              ctx_inputs: {}
              keep_symbol_to_null: {}
              template:
                value:
                  simple: |-
                    {
                      "ok": false,
                      "reason": "Failed to query the Action Center script library (core-get-scripts)."
                    }
              template_type:
                value:
                  simple: json
              variable_markers: {}
      append:
        simple: "false"
    nexttasks:
      '#none#':
      - "11"
    separatecontext: false
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 900,
          "y": 560
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "13":
    id: "13"
    taskid: c0ffee03-0000-4000-8000-00000000000d
    type: regular
    task:
      id: c0ffee03-0000-4000-8000-00000000000d
      version: -1
      name: Set ScriptResult - Script not found
      description: Set a value in context under the key you entered.
      iscommand: false
      brand: ""
      script: SetAndHandleEmpty
      type: regular
    scriptarguments:
      key:
        simple: ScriptResult
      value:
        complex:
          root: .
          transformers:
          - operator: FormatTemplate
            args:
              ctx_data: {}
              ctx_inc: {}
              ctx_inputs: {}
              keep_symbol_to_null: {}
              template:
                value:
                  simple: |-
                    {
                      "ok": false,
                      "reason": "The configured script name was not found in the Action Center script library."
                    }
              template_type:
                value:
                  simple: json
              variable_markers: {}
      append:
        simple: "false"
    nexttasks:
      '#none#':
      - "11"
    separatecontext: false
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 900,
          "y": 920
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "14":
    id: "14"
    taskid: c0ffee03-0000-4000-8000-00000000000e
    type: regular
    task:
      id: c0ffee03-0000-4000-8000-00000000000e
      version: -1
      name: Set ScriptResult - Multiple scripts matched
      description: Set a value in context under the key you entered.
      iscommand: false
      brand: ""
      script: SetAndHandleEmpty
      type: regular
    scriptarguments:
      key:
        simple: ScriptResult
      value:
        complex:
          root: .
          transformers:
          - operator: FormatTemplate
            args:
              ctx_data: {}
              ctx_inc: {}
              ctx_inputs: {}
              keep_symbol_to_null: {}
              template:
                value:
                  simple: |-
                    {
                      "ok": false,
                      "reason": "Multiple scripts matched the configured name in the script library. Use the script.uuid field to disambiguate."
                    }
              template_type:
                value:
                  simple: json
              variable_markers: {}
      append:
        simple: "false"
    nexttasks:
      '#none#':
      - "11"
    separatecontext: false
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 1120,
          "y": 920
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "15":
    id: "15"
    taskid: c0ffee03-0000-4000-8000-00000000000f
    type: regular
    task:
      id: c0ffee03-0000-4000-8000-00000000000f
      version: -1
      name: Set ScriptResult - Endpoint query failed
      description: Set a value in context under the key you entered.
      iscommand: false
      brand: ""
      script: SetAndHandleEmpty
      type: regular
    scriptarguments:
      key:
        simple: ScriptResult
      value:
        complex:
          root: .
          transformers:
          - operator: FormatTemplate
            args:
              ctx_data: {}
              ctx_inc: {}
              ctx_inputs: {}
              keep_symbol_to_null: {}
              template:
                value:
                  simple: |-
                    {
                      "ok": false,
                      "reason": "Failed to query endpoints (core-get-endpoints)."
                    }
              template_type:
                value:
                  simple: json
              variable_markers: {}
      append:
        simple: "false"
    nexttasks:
      '#none#':
      - "11"
    separatecontext: false
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 220,
          "y": 1100
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "16":
    id: "16"
    taskid: c0ffee03-0000-4000-8000-000000000010
    type: regular
    task:
      id: c0ffee03-0000-4000-8000-000000000010
      version: -1
      name: Set ScriptResult - No matching endpoints
      description: Set a value in context under the key you entered.
      iscommand: false
      brand: ""
      script: SetAndHandleEmpty
      type: regular
    scriptarguments:
      key:
        simple: ScriptResult
      value:
        complex:
          root: .
          transformers:
          - operator: FormatTemplate
            args:
              ctx_data: {}
              ctx_inc: {}
              ctx_inputs: {}
              keep_symbol_to_null: {}
              template:
                value:
                  simple: |-
                    {
                      "ok": false,
                      "reason": "No connected, unisolated endpoints matched the target filters (os/groups/hostnames)."
                    }
              template_type:
                value:
                  simple: json
              variable_markers: {}
      append:
        simple: "false"
    nexttasks:
      '#none#':
      - "11"
    separatecontext: false
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 220,
          "y": 1280
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "17":
    id: "17"
    taskid: c0ffee03-0000-4000-8000-000000000011
    type: regular
    task:
      id: c0ffee03-0000-4000-8000-000000000011
      version: -1
      name: Set ScriptResult - Execution failed
      description: Set a value in context under the key you entered.
      iscommand: false
      brand: ""
      script: SetAndHandleEmpty
      type: regular
    scriptarguments:
      key:
        simple: ScriptResult
      value:
        complex:
          root: .
          transformers:
          - operator: FormatTemplate
            args:
              ctx_data: {}
              ctx_inc: {}
              ctx_inputs: {}
              keep_symbol_to_null: {}
              template:
                value:
                  simple: |-
                    {
                      "ok": false,
                      "reason": "Script execution failed (core-script-run) — see the error entries in the run's war room."
                    }
              template_type:
                value:
                  simple: json
              variable_markers: {}
      append:
        simple: "false"
    nexttasks:
      '#none#':
      - "11"
    separatecontext: false
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 680,
          "y": 1640
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
view: |-
  {
    "linkLabelsPosition": {},
    "paper": {
      "dimensions": {
        "height": 1870,
        "width": 1300,
        "x": 50,
        "y": 50
      }
    }
  }
inputs:
- key: script_name
  value: {}
  required: false
  description: The name of the script to execute, as shown in the Action Center Script Library. Ignored when script_uuid is provided.
  playbookInputQuery: null
- key: script_uuid
  value: {}
  required: false
  description: The UUID of the script to execute. Takes precedence over script_name.
  playbookInputQuery: null
- key: endpoint_os
  value: {}
  required: true
  description: Target OS platform (Windows, macOS, or Linux — case-insensitive).
  playbookInputQuery: null
- key: endpoint_groups
  value: {}
  required: false
  description: Endpoint group names to limit execution to. Either this or endpoint_hostnames must be provided.
  playbookInputQuery: null
- key: endpoint_hostnames
  value: {}
  required: false
  description: Endpoint hostnames to limit execution to. Either this or endpoint_groups must be provided.
  playbookInputQuery: null
- key: polling_interval_in_seconds
  value:
    simple: "60"
  required: false
  description: How often to poll for script completion (seconds).
  playbookInputQuery: null
- key: timeout_in_seconds
  value:
    simple: "1800"
  required: false
  description: Overall timeout for the script execution (seconds).
  playbookInputQuery: null
outputs:
- contextPath: ScriptResult
  description: The structured result of the script execution.
  type: unknown
- contextPath: ScriptResult.ok
  description: 'true: success, false: failure.'
  type: boolean
- contextPath: ScriptResult.reason
  description: The reason the script run failed (empty on success).
  type: string
- contextPath: ScriptResult.action_id
  description: The Action Center action ID of the script execution (on success).
  type: string
tags:
- koi
quiet: false
