Playbooks/playbook-Koi_Unified_-_Execute_Endpoint_Script.yml
id: Koi Unified - Execute Endpoint Script
version: -1
fromversion: 6.10.0
name: Koi Unified - Execute Endpoint Script
description: |-
  Executes a script from the Action Center script library on targeted endpoints.
  Resolves the script UUID from its name (unless a UUID is supplied), targets
  connected, unisolated endpoints filtered by OS / endpoint groups / hostnames,
  and returns a structured ScriptResult (ok / reason / action_id).
  Unified from the NE, Cortex per-OS, and MMAA runner playbooks.
starttaskid: "0"
tasks:
  "0":
    id: "0"
    taskid: c0ffee03-0000-4000-8000-000000000000
    type: start
    task:
      id: c0ffee03-0000-4000-8000-000000000000
      version: -1
      name: ""
      iscommand: false
      brand: ""
      type: start
    nexttasks:
      '#none#':
      - "18"
    separatecontext: false
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 695,
          "y": 50
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "18":
    id: "18"
    taskid: c0ffee03-0000-4000-8000-000000000018
    type: regular
    task:
      id: c0ffee03-0000-4000-8000-000000000018
      version: -1
      name: Reset iteration context
      description: Clears leftover context from the previous loop iteration (loop iterations share the sub-playbook context).
      iscommand: false
      brand: ""
      script: DeleteContext
      type: regular
    scriptarguments:
      all:
        simple: "yes"
      subplaybook:
        simple: auto
    nexttasks:
      '#none#':
      - "1"
    separatecontext: false
    continueonerror: true
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 695,
          "y": 220
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "1":
    id: "1"
    taskid: c0ffee03-0000-4000-8000-000000000001
    type: condition
    task:
      id: c0ffee03-0000-4000-8000-000000000001
      version: -1
      name: Script UUID provided?
      description: Skip library lookup when the caller already supplied a script UUID.
      iscommand: false
      brand: ""
      type: condition
    conditions:
    - label: "yes"
      condition:
      - - left:
            iscontext: true
            value:
              simple: inputs.script_uuid
          operator: isNotEmpty
          right:
            value: {}
    nexttasks:
      '#default#':
      - "3"
      "yes":
      - "2"
    separatecontext: false
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 695,
          "y": 405
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "2":
    id: "2"
    taskid: c0ffee03-0000-4000-8000-000000000002
    type: regular
    task:
      id: c0ffee03-0000-4000-8000-000000000002
      version: -1
      name: Use provided script UUID
      description: Set a value in context under the key you entered.
      iscommand: false
      brand: ""
      script: SetAndHandleEmpty
      type: regular
    scriptarguments:
      key:
        simple: koi_script_uid
      value:
        complex:
          root: inputs.script_uuid
      append:
        simple: "false"
    nexttasks:
      '#none#':
      - "6"
    separatecontext: false
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 1340,
          "y": 960
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "3":
    id: "3"
    taskid: c0ffee03-0000-4000-8000-000000000003
    type: regular
    task:
      id: c0ffee03-0000-4000-8000-000000000003
      version: -1
      name: Get list of scripts
      description: Gets a list of scripts available in the scripts library.
      iscommand: true
      brand: ""
      script: '|||core-get-scripts'
      type: regular
    scriptarguments:
      script_name:
        simple: ${inputs.script_name}
    nexttasks:
      '#error#':
      - "12"
      '#none#':
      - "4"
    separatecontext: false
    continueonerror: true
    continueonerrortype: errorPath
    view: |-
      {
        "position": {
          "x": 480,
          "y": 590
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "4":
    id: "4"
    taskid: c0ffee03-0000-4000-8000-000000000004
    type: regular
    task:
      id: c0ffee03-0000-4000-8000-000000000004
      version: -1
      name: Find script UUID by name
      description: Resolve the script name to its UUID from the script library results.
      iscommand: false
      brand: ""
      script: SetAndHandleEmpty
      type: regular
    scriptarguments:
      key:
        simple: koi_script_uid
      value:
        complex:
          root: Core.Scripts
          accessor: script_uid
      append:
        simple: "false"
    nexttasks:
      '#none#':
      - "5"
    separatecontext: false
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 910,
          "y": 775
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "5":
    id: "5"
    taskid: c0ffee03-0000-4000-8000-000000000005
    type: condition
    task:
      id: c0ffee03-0000-4000-8000-000000000005
      version: -1
      name: How many scripts matched?
      description: Fail clearly when the script name resolves to zero or multiple UUIDs.
      iscommand: false
      brand: ""
      type: condition
    conditions:
    - label: none
      condition:
      - - left:
            iscontext: true
            value:
              simple: koi_script_uid
          operator: isEmpty
          right:
            value: {}
    - label: multiple
      condition:
      - - left:
            iscontext: true
            value:
              complex:
                root: koi_script_uid
                transformers:
                - operator: count
          operator: greaterThan
          right:
            value:
              simple: "1"
    nexttasks:
      '#default#':
      - "6"
      none:
      - "13"
      multiple:
      - "14"
    separatecontext: false
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 910,
          "y": 960
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "6":
    id: "6"
    taskid: c0ffee03-0000-4000-8000-000000000006
    type: regular
    task:
      id: c0ffee03-0000-4000-8000-000000000006
      version: -1
      name: Select due endpoints
      description: Ask KoiScanTracker for up to max due, currently-connected endpoints from the tracker.
      iscommand: true
      brand: ""
      script: 'KoiScanTracker'
      type: regular
      scriptName: KoiScanTracker
    scriptarguments:
      action:
        simple: select
      tracker_list:
        simple: ${inputs.tracker_list}
      rescan_interval_hours:
        complex:
          root: inputs.rescan_interval_hours
          transformers:
          - operator: SetIfEmpty
            args:
              applyIfEmpty: {}
              defaultValue:
                value:
                  simple: '720'
      max:
        complex:
          root: inputs.max_endpoints
          transformers:
          - operator: SetIfEmpty
            args:
              applyIfEmpty: {}
              defaultValue:
                value:
                  simple: '100'
      endpoint_os:
        simple: ${inputs.endpoint_os}
    nexttasks:
      '#error#':
      - '15'
      '#none#':
      - '7'
    separatecontext: false
    continueonerror: true
    continueonerrortype: errorPath
    view: |-
      {
        "position": {
          "x": 1770,
          "y": 1145
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "7":
    id: "7"
    taskid: c0ffee03-0000-4000-8000-000000000007
    type: condition
    task:
      id: c0ffee03-0000-4000-8000-000000000007
      version: -1
      name: Any due endpoints?
      description: Proceed only when at least one due, connected endpoint was returned.
      iscommand: false
      brand: ""
      type: condition
    conditions:
    - label: "yes"
      condition:
      - - left:
            iscontext: true
            value:
              simple: KoiScanTracker.Select.connected_count
          operator: greaterThan
          right:
            value:
              simple: '0'
    nexttasks:
      '#default#':
      - '16'
      "yes":
      - '8'
    separatecontext: false
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 1985,
          "y": 1330
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "8":
    id: "8"
    taskid: c0ffee03-0000-4000-8000-000000000008
    type: regular
    task:
      id: c0ffee03-0000-4000-8000-000000000008
      version: -1
      name: Run script on endpoints
      description: Initiates a new endpoint script execution and polls for its completion.
      iscommand: true
      brand: ""
      script: '|||core-script-run'
      type: regular
    scriptarguments:
      endpoint_ids:
        complex:
          root: KoiScanTracker.Select.due_connected
          transformers:
          - operator: join
            args:
              separator:
                value:
                  simple: ','
      script_uid:
        complex:
          root: koi_script_uid
      polling_interval_in_seconds:
        complex:
          root: inputs.polling_interval_in_seconds
          transformers:
          - operator: SetIfEmpty
            args:
              applyIfEmpty: {}
              defaultValue:
                value:
                  simple: "60"
      timeout:
        complex:
          root: inputs.timeout_in_seconds
          transformers:
          - operator: SetIfEmpty
            args:
              applyIfEmpty: {}
              defaultValue:
                value:
                  simple: "1800"
    nexttasks:
      '#error#':
      - '9'
      '#none#':
      - '10'
    separatecontext: false
    continueonerror: true
    continueonerrortype: errorPath
    view: |-
      {
        "position": {
          "x": 2200,
          "y": 1515
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "9":
    id: "9"
    taskid: c0ffee03-0000-4000-8000-000000000009
    type: regular
    task:
      id: c0ffee03-0000-4000-8000-000000000009
      version: -1
      name: Get script execution errors
      description: Get the error(s) associated with the failed script execution task.
      iscommand: false
      brand: ""
      script: GetErrorsFromEntry
      type: regular
    scriptarguments:
      entry_id:
        complex:
          root: lastCompletedTaskEntries
    nexttasks:
      '#none#':
      - '21'
    separatecontext: false
    continueonerror: true
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 2200,
          "y": 1700
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "10":
    id: "10"
    taskid: c0ffee03-0000-4000-8000-00000000000a
    type: regular
    task:
      id: c0ffee03-0000-4000-8000-00000000000a
      version: -1
      name: Set ScriptResult - Success
      description: Set a value in context under the key you entered.
      iscommand: false
      brand: ""
      script: SetAndHandleEmpty
      type: regular
    scriptarguments:
      key:
        simple: ScriptResult
      value:
        complex:
          root: .
          transformers:
          - operator: FormatTemplate
            args:
              ctx_data: {}
              ctx_inc: {}
              ctx_inputs: {}
              keep_symbol_to_null: {}
              template:
                value:
                  simple: |-
                    {
                      "ok": true,
                      "reason": ""
                    }
              template_type:
                value:
                  simple: json
              variable_markers: {}
      append:
        simple: "false"
    nexttasks:
      '#none#':
      - '24'
    separatecontext: false
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 2630,
          "y": 1700
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "19":
    id: "19"
    taskid: c0ffee03-0000-4000-8000-000000000019
    type: regular
    task:
      id: c0ffee03-0000-4000-8000-000000000019
      version: -1
      name: Record action ID
      description: Stores the Action Center action ID of the successful script run.
      iscommand: false
      brand: ""
      script: SetAndHandleEmpty
      type: regular
    scriptarguments:
      key:
        simple: ScriptResult.action_id
      value:
        simple: ${Core.ScriptRun.action_id}
      append:
        simple: "false"
    nexttasks:
      '#none#':
      - '23'
    separatecontext: false
    continueonerror: true
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 2630,
          "y": 1885
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "11":
    id: "11"
    taskid: c0ffee03-0000-4000-8000-00000000000b
    type: title
    task:
      id: c0ffee03-0000-4000-8000-00000000000b
      version: -1
      name: Done
      iscommand: false
      brand: ""
      type: title
    separatecontext: false
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 1125,
          "y": 2070
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "12":
    id: "12"
    taskid: c0ffee03-0000-4000-8000-00000000000c
    type: regular
    task:
      id: c0ffee03-0000-4000-8000-00000000000c
      version: -1
      name: Set ScriptResult - Library query failed
      description: Set a value in context under the key you entered.
      iscommand: false
      brand: ""
      script: SetAndHandleEmpty
      type: regular
    scriptarguments:
      key:
        simple: ScriptResult
      value:
        complex:
          root: .
          transformers:
          - operator: FormatTemplate
            args:
              ctx_data: {}
              ctx_inc: {}
              ctx_inputs: {}
              keep_symbol_to_null: {}
              template:
                value:
                  simple: |-
                    {
                      "ok": false,
                      "reason": "Failed to query the Action Center script library (core-get-scripts)."
                    }
              template_type:
                value:
                  simple: json
              variable_markers: {}
      append:
        simple: "false"
    nexttasks:
      '#none#':
      - "11"
    separatecontext: false
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 50,
          "y": 1885
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "13":
    id: "13"
    taskid: c0ffee03-0000-4000-8000-00000000000d
    type: regular
    task:
      id: c0ffee03-0000-4000-8000-00000000000d
      version: -1
      name: Set ScriptResult - Script not found
      description: Set a value in context under the key you entered.
      iscommand: false
      brand: ""
      script: SetAndHandleEmpty
      type: regular
    scriptarguments:
      key:
        simple: ScriptResult
      value:
        complex:
          root: .
          transformers:
          - operator: FormatTemplate
            args:
              ctx_data: {}
              ctx_inc: {}
              ctx_inputs: {}
              keep_symbol_to_null: {}
              template:
                value:
                  simple: |-
                    {
                      "ok": false,
                      "reason": "The configured script name was not found in the Action Center script library."
                    }
              template_type:
                value:
                  simple: json
              variable_markers: {}
      append:
        simple: "false"
    nexttasks:
      '#none#':
      - "11"
    separatecontext: false
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 480,
          "y": 1885
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "14":
    id: "14"
    taskid: c0ffee03-0000-4000-8000-00000000000e
    type: regular
    task:
      id: c0ffee03-0000-4000-8000-00000000000e
      version: -1
      name: Set ScriptResult - Multiple scripts matched
      description: Set a value in context under the key you entered.
      iscommand: false
      brand: ""
      script: SetAndHandleEmpty
      type: regular
    scriptarguments:
      key:
        simple: ScriptResult
      value:
        complex:
          root: .
          transformers:
          - operator: FormatTemplate
            args:
              ctx_data: {}
              ctx_inc: {}
              ctx_inputs: {}
              keep_symbol_to_null: {}
              template:
                value:
                  simple: |-
                    {
                      "ok": false,
                      "reason": "Multiple scripts matched the configured name in the script library. Use the script.uuid field to disambiguate."
                    }
              template_type:
                value:
                  simple: json
              variable_markers: {}
      append:
        simple: "false"
    nexttasks:
      '#none#':
      - "11"
    separatecontext: false
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 910,
          "y": 1885
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "15":
    id: "15"
    taskid: c0ffee03-0000-4000-8000-00000000000f
    type: regular
    task:
      id: c0ffee03-0000-4000-8000-00000000000f
      version: -1
      name: Set ScriptResult - Select failed
      description: Set a value in context under the key you entered.
      iscommand: false
      brand: ""
      script: SetAndHandleEmpty
      type: regular
    scriptarguments:
      key:
        simple: ScriptResult
      value:
        complex:
          root: .
          transformers:
          - operator: FormatTemplate
            args:
              ctx_data: {}
              ctx_inc: {}
              ctx_inputs: {}
              keep_symbol_to_null: {}
              template:
                value:
                  simple: |-
                    {
                      "ok": false,
                      "reason": "Failed to select due endpoints (KoiScanTracker)."
                    }
              template_type:
                value:
                  simple: json
              variable_markers: {}
      append:
        simple: "false"
    nexttasks:
      '#none#':
      - '11'
    separatecontext: false
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 1340,
          "y": 1885
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "16":
    id: "16"
    taskid: c0ffee03-0000-4000-8000-000000000010
    type: regular
    task:
      id: c0ffee03-0000-4000-8000-000000000010
      version: -1
      name: Set ScriptResult - Nothing due
      description: Set a value in context under the key you entered.
      iscommand: false
      brand: ""
      script: SetAndHandleEmpty
      type: regular
    scriptarguments:
      key:
        simple: ScriptResult
      value:
        complex:
          root: .
          transformers:
          - operator: FormatTemplate
            args:
              ctx_data: {}
              ctx_inc: {}
              ctx_inputs: {}
              keep_symbol_to_null: {}
              template:
                value:
                  simple: |-
                    {
                      "ok": true,
                      "skipped": true,
                      "reason": "No endpoints are currently due for scan."
                    }
              template_type:
                value:
                  simple: json
              variable_markers: {}
      append:
        simple: "false"
    nexttasks:
      '#none#':
      - '23'
    separatecontext: false
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 1770,
          "y": 1885
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "17":
    id: "17"
    taskid: c0ffee03-0000-4000-8000-000000000011
    type: regular
    task:
      id: c0ffee03-0000-4000-8000-000000000011
      version: -1
      name: Set ScriptResult - Execution failed
      description: Set a value in context under the key you entered.
      iscommand: false
      brand: ""
      script: SetAndHandleEmpty
      type: regular
    scriptarguments:
      key:
        simple: ScriptResult
      value:
        complex:
          root: .
          transformers:
          - operator: FormatTemplate
            args:
              ctx_data: {}
              ctx_inc: {}
              ctx_inputs: {}
              keep_symbol_to_null: {}
              template:
                value:
                  simple: |-
                    {
                      "ok": false,
                      "reason": "Script dispatch failed (core-script-run) — no action was created. See the war-room error entries."
                    }
              template_type:
                value:
                  simple: json
              variable_markers: {}
      append:
        simple: "false"
    nexttasks:
      '#none#':
      - '23'
    separatecontext: false
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 2200,
          "y": 1885
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  '21':
    id: "21"
    taskid: c0ffee03-0000-4000-8000-000000000021
    type: condition
    task:
      id: c0ffee03-0000-4000-8000-000000000021
      version: -1
      name: Was the action dispatched?
      description: core-script-run dispatches the action and then polls it. If an action_id exists the script IS running on the endpoints and only the poll expired — that is not an execution failure and must not raise a failure notification.
      iscommand: false
      brand: ""
      type: condition
    conditions:
    - label: "yes"
      condition:
      - - left:
            iscontext: true
            value:
              simple: Core.ScriptRun.action_id
          operator: isNotEmpty
          right:
            value: {}
    nexttasks:
      '#default#':
      - '17'
      "yes":
      - '22'
    separatecontext: false
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 2420,
          "y": 1885
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  '22':
    id: "22"
    taskid: c0ffee03-0000-4000-8000-000000000022
    type: regular
    task:
      id: c0ffee03-0000-4000-8000-000000000022
      version: -1
      name: Set ScriptResult - Polling timed out
      description: The action was dispatched and is still running in Action Center; only the playbook's poll expired.
      iscommand: false
      brand: ""
      script: SetAndHandleEmpty
      type: regular
    scriptarguments:
      key:
        simple: ScriptResult
      value:
        complex:
          root: .
          transformers:
          - operator: FormatTemplate
            args:
              ctx_data: {}
              ctx_inc: {}
              ctx_inputs: {}
              keep_symbol_to_null: {}
              template:
                value:
                  simple: |-
                    {
                      "ok": false,
                      "timed_out": true,
                      "reason": "Script was dispatched successfully but the playbook stopped polling before the action finished. The action is still running in Action Center and is expected to complete on its own. This is NOT an execution failure."
                    }
              template_type:
                value:
                  simple: json
              variable_markers: {}
      append:
        simple: "false"
    nexttasks:
      '#none#':
      - '24'
    separatecontext: false
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 2420,
          "y": 2070
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  '23':
    id: "23"
    taskid: c0ffee03-0000-4000-8000-000000000023
    type: regular
    task:
      id: c0ffee03-0000-4000-8000-000000000023
      version: -1
      name: Record scan counts
      description: Records the number of endpoints targeted.
      iscommand: false
      brand: ""
      script: SetAndHandleEmpty
      type: regular
    scriptarguments:
      key:
        simple: ScriptResult.scanned_count
      value:
        simple: ${KoiScanTracker.Select.connected_count}
      append:
        simple: "false"
    nexttasks:
      '#none#':
      - '11'
    separatecontext: false
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 1770,
          "y": 2255
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  '24':
    id: "24"
    taskid: c0ffee03-0000-4000-8000-000000000024
    type: regular
    task:
      id: c0ffee03-0000-4000-8000-000000000024
      version: -1
      name: Mark endpoints scanned
      description: Stamp last_scan=now for the dispatched endpoints (mark-on-dispatch).
      iscommand: true
      brand: ""
      script: 'KoiScanTracker'
      type: regular
      scriptName: KoiScanTracker
    scriptarguments:
      action:
        simple: mark
      tracker_list:
        simple: ${inputs.tracker_list}
      endpoint_ids:
        complex:
          root: KoiScanTracker.Select.due_connected
          transformers:
          - operator: join
            args:
              separator:
                value:
                  simple: ','
    nexttasks:
      '#none#':
      - '19'
    separatecontext: false
    continueonerror: true
    continueonerrortype: errorPath
    view: |-
      {
        "position": {
          "x": 1770,
          "y": 1145
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
view: |-
  {
    "linkLabelsPosition": {},
    "paper": {
      "dimensions": {
        "height": 1870,
        "width": 1300,
        "x": 50,
        "y": 50
      }
    }
  }
inputs:
- key: script_name
  value: {}
  required: false
  description: The name of the script to execute, as shown in the Action Center Script Library. Ignored when script_uuid is provided.
  playbookInputQuery:
- key: script_uuid
  value: {}
  required: false
  description: The UUID of the script to execute. Takes precedence over script_name.
  playbookInputQuery:
- key: polling_interval_in_seconds
  value:
    simple: "60"
  required: false
  description: How often to poll for script completion (seconds).
  playbookInputQuery:
- key: timeout_in_seconds
  value:
    simple: "1800"
  required: false
  description: Overall timeout for the script execution (seconds).
  playbookInputQuery:
- key: max_endpoints
  value:
    simple: "100"
  required: false
  description: "Maximum endpoints to target in one run, passed to core-get-endpoints as `limit`. VERIFIED HARD CAP: core-get-endpoints rejects any value above 100 with 'Search size must fulfill the requirement: 0 < search_size <= 100' (HTTP 500). Do NOT set this above 100. Without a limit the command returns only 30, so 100 is the safe maximum for a single run. Covering a group larger than 100 requires paginating the endpoint query (page/page_size) — see the release note; that is a separate change."
  playbookInputQuery:
- key: tracker_list
  value:
    simple: ""
  required: false
  description: "Name of the CSV List used as this scope's scan tracker (e.g. \"Koi Scan Tracker - Windows\")."
  playbookInputQuery:
- key: rescan_interval_hours
  value:
    simple: "720"
  required: false
  description: "Hours after which a scanned endpoint becomes due again."
  playbookInputQuery:
- key: endpoint_os
  value:
    simple: ""
  required: false
  description: "OS platform for this scope (Windows/macOS/Linux). Passed to select so the connected-check can never dispatch a wrong-OS endpoint."
  playbookInputQuery:
outputs:
- contextPath: ScriptResult
  description: The structured result of the script execution.
  type: unknown
- contextPath: ScriptResult.ok
  description: 'true: success, false: failure.'
  type: boolean
- contextPath: ScriptResult.reason
  description: The reason the script run failed or was skipped (empty on success).
  type: string
- contextPath: ScriptResult.skipped
  description: 'true when the entry was valid but no connected endpoints matched the target filters — nothing to execute this run. Not an error.'
  type: boolean
- contextPath: ScriptResult.action_id
  description: The Action Center action ID of the script execution (on success).
  type: string
- contextPath: ScriptResult.timed_out
  description: 'True when the action was dispatched but the playbook''s poll expired. Not a failure.'
  type: boolean
- contextPath: ScriptResult.endpoint_count
  description: 'Number of connected endpoints this run targeted.'
  type: boolean
tags:
- koi
quiet: false
