Playbooks/playbook-KOI_-_Block_and_Remediate.yml
id: KOI - Block and Remediate
version: -1
fromversion: 6.10.0
name: KOI - Block and Remediate
description: |-
  Response playbook for a flagged KOI item. Enriches the item (KOI - Enrich Item),
  presents an analyst approval gate showing the catalog risk and endpoint exposure,
  and — only on approval — adds the item to the organization-wide KOI blocklist
  (koi-blocklist-items-add). Safe by default: the blocklist write never fires
  without explicit approval.

  Typically chained from KOI - Alert Triage on a Malicious verdict, or run
  manually against an item_id / marketplace.
starttaskid: "0"
tasks:
  "0":
    id: "0"
    taskid: koiblk00-0000-4000-8000-000000000000
    type: start
    task:
      id: koiblk00-0000-4000-8000-000000000000
      version: -1
      name: ""
      iscommand: false
      brand: ""
      type: start
    nexttasks:
      '#none#':
      - "1"
    separatecontext: false
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 450,
          "y": 50
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "1":
    id: "1"
    taskid: koiblk00-0000-4000-8000-000000000001
    type: playbook
    task:
      id: koiblk00-0000-4000-8000-000000000001
      version: -1
      name: Enrich the item
      description: Gathers catalog risk and endpoint exposure for the item.
      playbookId: KOI - Enrich Item
      iscommand: false
      brand: ""
      type: playbook
    scriptarguments:
      item_id:
        simple: ${inputs.item_id}
      marketplace:
        simple: ${inputs.marketplace}
      version:
        simple: ${inputs.version}
      instance_name:
        simple: ${inputs.instance_name}
    nexttasks:
      '#none#':
      - "2"
    separatecontext: false
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 450,
          "y": 200
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "2":
    id: "2"
    taskid: koiblk00-0000-4000-8000-000000000002
    type: condition
    task:
      id: koiblk00-0000-4000-8000-000000000002
      version: -1
      name: Is approval required?
      description: When auto_block is true the block proceeds without an approval gate; otherwise an analyst must approve.
      iscommand: false
      brand: ""
      type: condition
    conditions:
    - label: auto
      condition:
      - - left:
            iscontext: true
            value:
              simple: inputs.auto_block
          operator: isEqualString
          right:
            value:
              simple: "true"
    nexttasks:
      '#default#':
      - "3"
      auto:
      - "5"
    separatecontext: false
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 450,
          "y": 370
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "3":
    id: "3"
    taskid: koiblk00-0000-4000-8000-000000000003
    type: condition
    task:
      id: koiblk00-0000-4000-8000-000000000003
      version: -1
      name: Approve blocking this item?
      description: |-
        Analyst decision. Review the enrichment before approving an
        organization-wide block.
        Item: ${inputs.item_id} (${inputs.marketplace})
        Catalog risk: ${KoiEnrichment.risk_level} (score ${KoiEnrichment.risk_score})
        Installed on ${KoiEnrichment.endpoint_count} endpoint(s): ${KoiEnrichment.hostnames}
      iscommand: false
      brand: ""
      type: condition
    nexttasks:
      Approve:
      - "5"
      Reject:
      - "4"
    separatecontext: false
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 250,
          "y": 540
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "4":
    id: "4"
    taskid: koiblk00-0000-4000-8000-000000000004
    type: regular
    task:
      id: koiblk00-0000-4000-8000-000000000004
      version: -1
      name: Record block rejected
      description: Set a value in context under the key you entered.
      iscommand: false
      brand: ""
      script: SetAndHandleEmpty
      type: regular
    scriptarguments:
      key:
        simple: KoiBlock.status
      value:
        simple: Rejected
      append:
        simple: "false"
    nexttasks:
      '#none#':
      - "8"
    separatecontext: false
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 60,
          "y": 710
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "5":
    id: "5"
    taskid: koiblk00-0000-4000-8000-000000000005
    type: regular
    task:
      id: koiblk00-0000-4000-8000-000000000005
      version: -1
      name: Add item to KOI blocklist
      description: Adds the item to the organization-wide KOI blocklist.
      iscommand: true
      brand: ""
      script: '|||koi-blocklist-items-add'
      type: regular
    scriptarguments:
      item_id:
        simple: ${inputs.item_id}
      marketplace:
        simple: ${inputs.marketplace}
      created_by:
        simple: ${inputs.created_by}
      notes:
        simple: ${inputs.reason}
      using:
        simple: ${inputs.instance_name}
    nexttasks:
      '#error#':
      - "7"
      '#none#':
      - "6"
    separatecontext: false
    continueonerror: true
    continueonerrortype: errorPath
    view: |-
      {
        "position": {
          "x": 450,
          "y": 710
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "6":
    id: "6"
    taskid: koiblk00-0000-4000-8000-000000000006
    type: regular
    task:
      id: koiblk00-0000-4000-8000-000000000006
      version: -1
      name: Record block succeeded
      description: Set a value in context under the key you entered.
      iscommand: false
      brand: ""
      script: SetAndHandleEmpty
      type: regular
    scriptarguments:
      key:
        simple: KoiBlock.status
      value:
        simple: Blocked
      append:
        simple: "false"
    nexttasks:
      '#none#':
      - "8"
    separatecontext: false
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 450,
          "y": 880
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "7":
    id: "7"
    taskid: koiblk00-0000-4000-8000-000000000007
    type: regular
    task:
      id: koiblk00-0000-4000-8000-000000000007
      version: -1
      name: Record block failed
      description: Set a value in context under the key you entered.
      iscommand: false
      brand: ""
      script: SetAndHandleEmpty
      type: regular
    scriptarguments:
      key:
        simple: KoiBlock.status
      value:
        simple: Failed
      append:
        simple: "false"
    nexttasks:
      '#none#':
      - "8"
    separatecontext: false
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 700,
          "y": 880
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "8":
    id: "8"
    taskid: koiblk00-0000-4000-8000-000000000008
    type: regular
    task:
      id: koiblk00-0000-4000-8000-000000000008
      version: -1
      name: Post response summary
      description: Prints the block outcome to the war room.
      iscommand: false
      brand: ""
      script: Print
      type: regular
    scriptarguments:
      value:
        simple: |-
          ## KOI Block & Remediate — ${KoiBlock.status}
          | Field | Value |
          |---|---|
          | Item | ${inputs.item_id} (${inputs.marketplace}) |
          | Outcome | **${KoiBlock.status}** |
          | Catalog risk | ${KoiEnrichment.risk_level} (score ${KoiEnrichment.risk_score}) |
          | Endpoints affected | ${KoiEnrichment.endpoint_count} |
          | Reason | ${inputs.reason} |
    nexttasks:
      '#none#':
      - "9"
    separatecontext: false
    continueonerror: true
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 450,
          "y": 1050
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "9":
    id: "9"
    taskid: koiblk00-0000-4000-8000-000000000009
    type: title
    task:
      id: koiblk00-0000-4000-8000-000000000009
      version: -1
      name: Done
      iscommand: false
      brand: ""
      type: title
    separatecontext: false
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 450,
          "y": 1220
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
view: |-
  {
    "linkLabelsPosition": {},
    "paper": {
      "dimensions": {
        "height": 1250,
        "width": 1030,
        "x": 60,
        "y": 50
      }
    }
  }
inputs:
- key: item_id
  value: {}
  required: true
  description: The KOI catalog item ID to block.
  playbookInputQuery: null
- key: marketplace
  value: {}
  required: true
  description: The item's marketplace.
  playbookInputQuery: null
- key: version
  value: {}
  required: false
  description: The item version (optional, for enrichment).
  playbookInputQuery: null
- key: reason
  value: {}
  required: false
  description: Reason/notes recorded with the blocklist entry.
  playbookInputQuery: null
- key: created_by
  value:
    simple: xsoar-koi-response
  required: false
  description: Attribution recorded on the blocklist entry.
  playbookInputQuery: null
- key: auto_block
  value:
    simple: "false"
  required: false
  description: Set to true to skip the analyst approval gate and block automatically. Default false (approval required).
  playbookInputQuery: null
- key: instance_name
  value:
    simple: KOI_PAET
  required: false
  description: The KOI integration instance to use.
  playbookInputQuery: null
outputs:
- contextPath: KoiBlock.status
  description: The block outcome (Blocked / Rejected / Failed).
  type: string
tags:
- koi
quiet: false
