Playbooks/playbook-KOI_-_Alert_Triage.yml
id: KOI - Alert Triage
version: -1
fromversion: 6.10.0
name: KOI - Alert Triage
description: |-
  Triages a KOI alert end to end: extracts the embedded KOI context, enriches
  the flagged item against the KOI catalog (koi-koidex-risk-report), computes a
  verdict (Benign / Suspicious / Malicious) from the KOI alert type and the
  independent catalog risk level, posts a triage summary, and routes — auto-
  closing clearly-benign alerts and escalating the rest for analyst review.

  Designed to run as the attached playbook on KOI alerts ingested into Cortex
  XSIAM (source koi). Reads the koi_context JSON the collector embeds in the
  alert description.
starttaskid: "0"
tasks:
  "0":
    id: "0"
    taskid: koitri00-0000-4000-8000-000000000000
    type: start
    task:
      id: koitri00-0000-4000-8000-000000000000
      version: -1
      name: ""
      iscommand: false
      brand: ""
      type: start
    nexttasks:
      '#none#':
      - "1"
    separatecontext: false
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 450,
          "y": 50
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "1":
    id: "1"
    taskid: koitri00-0000-4000-8000-000000000001
    type: playbook
    task:
      id: koitri00-0000-4000-8000-000000000001
      version: -1
      name: Extract KOI alert context
      description: Parses the koi_context JSON from the alert description.
      playbookId: KOI - Extract Alert Context
      iscommand: false
      brand: ""
      type: playbook
    scriptarguments:
      alert_description:
        simple: ${incident.details}
    nexttasks:
      '#none#':
      - "2"
    separatecontext: false
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 450,
          "y": 200
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "2":
    id: "2"
    taskid: koitri00-0000-4000-8000-000000000002
    type: condition
    task:
      id: koitri00-0000-4000-8000-000000000002
      version: -1
      name: Is a catalog item identifiable?
      description: Only items with an id and marketplace can be enriched against the KOI catalog.
      iscommand: false
      brand: ""
      type: condition
    conditions:
    - label: "yes"
      condition:
      - - left:
            iscontext: true
            value:
              simple: KoiContext.item_id
          operator: isNotEmpty
          right:
            value: {}
        - left:
            iscontext: true
            value:
              simple: KoiContext.marketplace
          operator: isNotEmpty
          right:
            value: {}
    nexttasks:
      '#default#':
      - "4"
      "yes":
      - "14"
    separatecontext: false
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 450,
          "y": 350
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "14":
    id: "14"
    taskid: koitri00-0000-4000-8000-000000000014
    type: playbook
    task:
      id: koitri00-0000-4000-8000-000000000014
      version: -1
      name: Full KOI investigation
      description: Runs KOI - Investigate Item to gather catalog risk + AI summary, org exposure (installs/signing), exposed endpoints/users, governance state, and remediation/approval history, and posts an investigation summary to the war room.
      playbookId: KOI - Investigate Item
      iscommand: false
      brand: ""
      type: playbook
    scriptarguments:
      item_id:
        simple: ${KoiContext.item_id}
      marketplace:
        simple: ${KoiContext.marketplace}
      version:
        simple: ${KoiContext.version}
    nexttasks:
      '#none#':
      - "3"
    separatecontext: false
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 720,
          "y": 350
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "3":
    id: "3"
    taskid: koitri00-0000-4000-8000-000000000003
    type: regular
    task:
      id: koitri00-0000-4000-8000-000000000003
      version: -1
      name: Enrich with KOI catalog risk report
      description: Retrieves the risk and compliance report for the flagged item from the KOI catalog.
      iscommand: true
      brand: ""
      script: '|||koi-koidex-risk-report'
      type: regular
    scriptarguments:
      item_id:
        complex:
          root: KoiContext
          accessor: item_id
          transformers:
          - operator: join
            args:
              separator:
                value:
                  simple: ""
      marketplace:
        complex:
          root: KoiContext
          accessor: marketplace
          transformers:
          - operator: join
            args:
              separator:
                value:
                  simple: ""
      using:
        simple: KOI_PAET
    nexttasks:
      '#error#':
      - "4"
      '#none#':
      - "4"
    separatecontext: false
    continueonerror: true
    continueonerrortype: errorPath
    view: |-
      {
        "position": {
          "x": 450,
          "y": 500
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "4":
    id: "4"
    taskid: koitri00-0000-4000-8000-000000000004
    type: condition
    task:
      id: koitri00-0000-4000-8000-000000000004
      version: -1
      name: Determine verdict
      description: Classifies the alert from the KOI alert type and the catalog risk level.
      iscommand: false
      brand: ""
      type: condition
    conditions:
    - label: malicious
      condition:
      - - left:
            iscontext: true
            value:
              simple: KoiContext.alert_type
          operator: isEqualString
          right:
            value:
              simple: Removed from Marketplace
        - left:
            iscontext: true
            value:
              simple: KoiContext.alert_type
          operator: isEqualString
          right:
            value:
              simple: Publisher Compromised
        - left:
            iscontext: true
            value:
              simple: KoiContext.alert_type
          operator: isEqualString
          right:
            value:
              simple: Unvetted MCP Server
        - left:
            iscontext: true
            value:
              simple: KoiContext.risk_level
          operator: isEqualString
          right:
            value:
              simple: High
        - left:
            iscontext: true
            value:
              simple: KoiContext.risk_level
          operator: isEqualString
          right:
            value:
              simple: Critical
        - left:
            iscontext: true
            value:
              simple: Koi.KoidexRiskReport.risk_level
          operator: isEqualString
          right:
            value:
              simple: high
        - left:
            iscontext: true
            value:
              simple: Koi.KoidexRiskReport.risk_level
          operator: isEqualString
          right:
            value:
              simple: critical
    - label: benign
      condition:
      - - left:
            iscontext: true
            value:
              simple: KoiContext.alert_type
          operator: isEqualString
          right:
            value:
              simple: New Item
      - - left:
            iscontext: true
            value:
              simple: KoiContext.risk_level
          operator: isEqualString
          right:
            value:
              simple: Low
    nexttasks:
      '#default#':
      - "7"
      malicious:
      - "5"
      benign:
      - "6"
    separatecontext: false
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 450,
          "y": 680
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "5":
    id: "5"
    taskid: koitri00-0000-4000-8000-000000000005
    type: regular
    task:
      id: koitri00-0000-4000-8000-000000000005
      version: -1
      name: Set verdict - Malicious
      description: Set a value in context under the key you entered.
      iscommand: false
      brand: ""
      script: SetAndHandleEmpty
      type: regular
    scriptarguments:
      key:
        simple: Koi.Triage.verdict
      value:
        simple: Malicious
      append:
        simple: "false"
    nexttasks:
      '#none#':
      - "8"
    separatecontext: false
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 100,
          "y": 860
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "6":
    id: "6"
    taskid: koitri00-0000-4000-8000-000000000006
    type: regular
    task:
      id: koitri00-0000-4000-8000-000000000006
      version: -1
      name: Set verdict - Benign
      description: Set a value in context under the key you entered.
      iscommand: false
      brand: ""
      script: SetAndHandleEmpty
      type: regular
    scriptarguments:
      key:
        simple: Koi.Triage.verdict
      value:
        simple: Benign
      append:
        simple: "false"
    nexttasks:
      '#none#':
      - "8"
    separatecontext: false
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 450,
          "y": 860
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "7":
    id: "7"
    taskid: koitri00-0000-4000-8000-000000000007
    type: regular
    task:
      id: koitri00-0000-4000-8000-000000000007
      version: -1
      name: Set verdict - Suspicious
      description: Set a value in context under the key you entered.
      iscommand: false
      brand: ""
      script: SetAndHandleEmpty
      type: regular
    scriptarguments:
      key:
        simple: Koi.Triage.verdict
      value:
        simple: Suspicious
      append:
        simple: "false"
    nexttasks:
      '#none#':
      - "8"
    separatecontext: false
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 800,
          "y": 860
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "8":
    id: "8"
    taskid: koitri00-0000-4000-8000-000000000008
    type: regular
    task:
      id: koitri00-0000-4000-8000-000000000008
      version: -1
      name: Build triage summary
      description: Set a value in context under the key you entered.
      iscommand: false
      brand: ""
      script: SetAndHandleEmpty
      type: regular
    scriptarguments:
      key:
        simple: Koi.Triage.summary
      value:
        simple: |-
          ## KOI Alert Triage — ${Koi.Triage.verdict}
          | Field | Value |
          |---|---|
          | Verdict | **${Koi.Triage.verdict}** |
          | Alert type | ${KoiContext.alert_type} |
          | KOI risk level | ${KoiContext.risk_level} |
          | Item | ${KoiContext.item_id} (${KoiContext.marketplace}) |
          | Item type | ${KoiContext.item_type} |
          | Catalog risk level | ${Koi.KoidexRiskReport.risk_level} |
          | Catalog risk score | ${Koi.KoidexRiskReport.risk} |
          | Device | ${KoiContext.alert_hostname} (${KoiContext.device_id}) |
          | Last user | ${KoiContext.device_last_user} |
      append:
        simple: "false"
    nexttasks:
      '#none#':
      - "9"
    separatecontext: false
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 450,
          "y": 1030
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "9":
    id: "9"
    taskid: koitri00-0000-4000-8000-000000000009
    type: regular
    task:
      id: koitri00-0000-4000-8000-000000000009
      version: -1
      name: Post triage summary
      description: Prints the triage summary to the war room.
      iscommand: false
      brand: ""
      script: Print
      type: regular
    scriptarguments:
      value:
        simple: ${Koi.Triage.summary}
    nexttasks:
      '#none#':
      - "10"
    separatecontext: false
    continueonerror: true
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 450,
          "y": 1200
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "10":
    id: "10"
    taskid: koitri00-0000-4000-8000-00000000000a
    type: condition
    task:
      id: koitri00-0000-4000-8000-00000000000a
      version: -1
      name: Route on verdict
      description: Benign alerts are auto-closed; malicious alerts are escalated; suspicious alerts stay open for review.
      iscommand: false
      brand: ""
      type: condition
    conditions:
    - label: benign
      condition:
      - - left:
            iscontext: true
            value:
              simple: Koi.Triage.verdict
          operator: isEqualString
          right:
            value:
              simple: Benign
    - label: malicious
      condition:
      - - left:
            iscontext: true
            value:
              simple: Koi.Triage.verdict
          operator: isEqualString
          right:
            value:
              simple: Malicious
    nexttasks:
      '#default#':
      - "13"
      benign:
      - "11"
      malicious:
      - "12"
    separatecontext: false
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 450,
          "y": 1370
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "11":
    id: "11"
    taskid: koitri00-0000-4000-8000-00000000000b
    type: regular
    task:
      id: koitri00-0000-4000-8000-00000000000b
      version: -1
      name: Auto-close benign alert
      description: commands.local.cmd.close.inv
      iscommand: true
      brand: Builtin
      script: Builtin|||closeInvestigation
      type: regular
    scriptarguments:
      closeReason:
        simple: Resolved
      closeNotes:
        simple: 'KOI triage: Benign — ${KoiContext.alert_type} for ${KoiContext.item_id} with a low catalog risk level. Auto-closed.'
    nexttasks:
      '#none#':
      - "13"
    separatecontext: false
    continueonerror: true
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 200,
          "y": 1550
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "12":
    id: "12"
    taskid: koitri00-0000-4000-8000-00000000000c
    type: regular
    task:
      id: koitri00-0000-4000-8000-00000000000c
      version: -1
      name: Escalate - raise severity
      description: Raises the alert severity for analyst attention.
      iscommand: true
      brand: ""
      script: '|||setAlert'
      type: regular
    scriptarguments:
      severity:
        simple: "3"
    nexttasks:
      '#none#':
      - "13"
    separatecontext: false
    continueonerror: true
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 550,
          "y": 1550
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "13":
    id: "13"
    taskid: koitri00-0000-4000-8000-00000000000d
    type: title
    task:
      id: koitri00-0000-4000-8000-00000000000d
      version: -1
      name: Done
      iscommand: false
      brand: ""
      type: title
    separatecontext: false
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 450,
          "y": 1730
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
view: |-
  {
    "linkLabelsPosition": {},
    "paper": {
      "dimensions": {
        "height": 1760,
        "width": 1080,
        "x": 100,
        "y": 50
      }
    }
  }
inputs: []
outputs:
- contextPath: Koi.Triage.verdict
  description: The triage verdict (Benign / Suspicious / Malicious).
  type: string
- contextPath: Koi.Triage.summary
  description: The markdown triage summary.
  type: string
tags:
- koi
quiet: false
